@{
    ViewBag.Title = "Services";
}
<h2>@ViewBag.Title.</h2>

<p>These are some of the services we provide.</p>
<ol>
    <li style="font-size:200%;">Repairs</li>
    <li style="font-size:200%;">Diagnostics </li>
    <li style="font-size:200%;">Detailing</li>
    <li style="font-size:200%;">Oil Change</li>
    <li style="font-size:200%;">Tire Rotation</li>
    <li style="font-size:200%;">Brake Repair</li>
    <li style="font-size:200%;">A/C & Heating Repair</li>
</ol>

