@{
    ViewBag.Title = "Vehicle";
}

<h2>This page is meant to be used by employees to add to the website DB.</h2>

<p>FOR EMPLOYEES</p>

<li style="font-size:200%;">@Html.ActionLink("Customer List", "Index", "Customers")</li>
<li style="font-size:200%;">@Html.ActionLink("Transaction History", "Index", "Transactions")</li>
<li style="font-size:200%;">@Html.ActionLink("For use by Sales Department", "Index", "SalesDepts")</li>

