@{
    ViewBag.Title = "Home Page";
}

<h1> JMR Auto </h1>

<style>
    h1 {
        text-align: center;
    }
</style>
<img src="~/car pic.JPG" class="center-block" width="750" height="400" />